body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.toggle-button {
  width: 2.5rem;

  background-color: transparent;
  display: flex;
  flex-direction: column;

  border: none;
  cursor: pointer;
}
.toggle-button-bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  margin-top: 0.6rem;
}
button {
  top: 0.5rem;

  left: 1rem;

  position: fixed;
}
nav {
  display: none;
  position: fixed;
  background-color: white;
  z-index: 101;
  font-family: 'Merienda', cursive;
  text-shadow: 2px 2px 5px;
  width: 70vw;
  height: 100vh;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s linear;
}
@media (min-width: 600px) {
  nav {
    width: 50vw;
  }
}
.navUl {
  height: 100vh;

  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  list-style-type: none;
}
.navUl li {
  font-size: 1.5rem;
  cursor: pointer;
}
.navUl li a {
  text-decoration: none;
  color: black;
}
h1 {
  padding: 1rem;
  margin: 0;
}
